/* setear el documento */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*modificando estilos a header*/

.container-header{
    height: 66px;
}

.navbar-toggle{
    float: left;
    margin: 16px 30px 16px 16px;
}

.navbar-nav{
    margin: 10px;
    }

/*estilos a section 1 primera seccion amarilla*/
.box-yellow{
    background-color: #ffb100;
    color: white;
    height: 45%;
    padding: 0;
}

.box-yellow h1{
    margin: 30px;
}

.box-yellow img{
    height: 20px;
}

/*section 1 debe iniciar despues del nav*/
.img-city{ /*el div que contiene lka imagen de fondo*/
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 540px;
    background-image: url(../assets/images/taxi.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.register .container-fluid{
    padding: 0;
}

.box-yellow input{/*estilos al boton de descargta el app*/
    color: black;
    border: none;
    margin-left: 30px;
}

.box-yellow .none-xs h3{ /*estilos al h3*/
    margin: 25px;
    font-size: 22px;
}

.box-yellow .none-xs h5{/*estilos al h5*/
    margin-left: 25px;
}

.box-yellow .none-xs img{
    height: 14px;
}

.box-yellow .none-xs input{
    margin: 10px 25px;
}

.separation{
    text-align: center;
    margin: 0 25px 15px 25px;
}

.separation div{
    width: 28%;
    height: 1px;
    display: inline-block;
    background-color: white;
}

.separation p{
    display: inline-block;
    font-size: 12px;
    margin: 0 30px;
}

/*estilos para seccion app*/
/*cuando es mobile*/
.new-app{
    background-color: #ffb100;
    color: white;
    text-align: center;
}

.borde-app{
    outline: 1px solid white;
    overflow: hidden;
    margin-top: 15px;
}

.borde-app h3{
    padding-top: 30px;
}

.borde-app img{
    margin-bottom: 20px;
}

.none-sm p{
    text-align: left;
    padding-top: 20px;
}

.app .none-sm{
    padding: 0;
}

/*definimos una clase para ocultar algunos contenidos que no se vizualizan en mobile*/
.none-xs{
    display: none;
}

/*section drive*/
.img-drive{
    align-items: center;
    height: 400px;
    background-image: url(../assets/images/conduce.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.drive .container-fluid{
    padding: 0;
}

.transparent{
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    color: white;  
    padding: 80px 45px;  
}

.transparent input{
    background-color: #ffb100;
    color: white;
    border: none;
}

/*estilos a section trarifa*/

.tarifas{
    background-color: #ffb100;
    color: white;
}

.tarifas-form{
    margin: 70px 10px;
}

.input-flex{
    display: flex;
    align-items: center;
}

.input-flex input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.input-flex img{
    margin: 10px;
}

.form-group:last-child{
    text-align: center;
}

.map{
    outline: 1px solid white;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
}

/*estilos a footer*/

footer{
    background-color: #2d2d2d;
    color: white;
}

ul{
    list-style: none;
    line-height: 300%;
}

.row:first-child{
    margin: 15px 15px 0 15px;
}

.img-playstore img{
    width: 60%;
    margin-top: 30px;
}

i{
    margin: 0 5px;
}

.row p{
    margin: 0 15px 15px 15px;
}

/*estilos al modal*/

.modal-content{
    overflow: hidden;
}

#myModal .modal-body{
    border: 1px solid #ffb100;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#myModal .modal-body .input-group{
    margin: 10px 0;
}

#myModal .modal-body button{
    margin: 10px;
    background-color: #ffb100;
}

#myModalRegister{
    text-align: center;
}

#myModalRegister .btn-black{
    background-color: black;
    color: white;
}

#myModalRegister .form-group{
    padding: 4px 3px;
    margin: 0;
}

#myModalRegister .dropdown-toggle{
    background-color: gray;
}

.enviar-btn{
    background-color: rgb(0, 183, 255);
    color: white;
    padding: 4px 3px;
    margin: 4px 0;
}

#myModalConductor{
    text-align: left;
}

#myModalConductor .input-group{
    margin-bottom: 15px;
}

#myModalConductor p{
    font-size: 12px;
}

#myModalConductor button{
    text-align: left;
}

#myModalConductor .modal-body{
    padding: 40px;
}


@media (min-width: 768px){

    .box-yellow{
        height: 55%;
    }
    
    .navbar-nav{
    float: right;
    }

    .navbar-nav li{
        margin: 0 0 0 25px;
    }

    .none-xs{
        display: block;
    }

    .none-sm{
        display: none;
    }

    h3{
        font-size: 18px;
    }

    .new-app .container-fluid{
        padding: 0;
    }

        /*secrion app desktop*/
    .app .none-xs{
        border: 1px solid white;
        margin: 20px 0;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .app .none-xs img{
        padding: 30px 15px;
    }

    .transparent{
        float: right;
        padding: 80px 20px;
    }

    .transparent input{
        max-width: 100%;
        font-size: 14px;
    }

    .map{
        height: 320px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .map iframe{
        height: 100%;
    }

    .tarifas-form{
        margin: 50px 10px;
    }

    .row-flex{
        display: flex;
        align-items: flex-end;
    }
}